.demo-table {
    width: 100%;
  }

.example-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
}

.ancho{
    width: 80%;
}

.text-danger{
    text-align: start;
    margin-left: 8px;
}

.mat-form-field {
    width: 100%;
}

.row {
    display: flexbox
}

.column {
    flex: 30%;
    margin: 0px 5px;
}

.columna {
    flex: 50%;
    margin: 0px 5px;
}


.example-spacer {
    flex: 1 1 auto;
  }

.wrapperuser {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-urs{
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.grafico {
    display: flex;
    justify-content: center;
    align-items: center;
}