<div class="wrapperbi">
    <mat-spinner *ngIf="loading" mode="indeterminate"></mat-spinner>
    <div class="row w-100 p-3 body-bi">
        <h1>Bienvenido!</h1>
        <p></p>
        <p></p>
        <h3>El sistema en uso le recuerda que mantiene una objetividad de práctica al ser una herramienta de apoyo en desarrollo</h3>
    </div>
</div>

<footer class="text-center text-white" style="background-color: #0a4275;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="text-center">
        <p class="d-flex justify-content-center align-items-center">
          TT 2021-B050
        </p>
        <p class="d-flex justify-content-center align-items-center">
          TT 2021-B050
          "PROTOTIPO PARA IDENTIFICAR RASGOS DE PERSONALIDAD DE LA TRIADA OSCURA (MAQUIAVELISMO, NARCISISMO Y PSICOPATÍA) EN ENTREVISTAS DE TRABAJO."
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p>Instituto Politecnico Nacional</p> 
      <p>Escuela Superior de Computo</p> 
    </div>
    <!-- Copyright -->
</footer>